<div class="home-container pt-5" style="background-color: #F0F0F0">

  <div class="container p-5 align-self-center">

    <div class="row mt-4">

      <div class="col-md-7 mt-5">
        <h1 class="pt-5"><label for="" style="font-weight: lighter; color:#000;">The Best Place to Find</label> <br> <strong style="color: #171817">Professionals</strong></h1>
        <p style="color: black">Over 3,000 homeowners connect with the right pro every week for their remodeling projects. Ready to find yours?</p>
        <button class="border-0 rounded-0 input-group-text" style="padding-left: 20px; padding-right: 20px; background-color: #98C663; color: #171817" id="">Shop Now</button>
      </div>

<!--        Hire Pro Buttons-->
      <div class="col-md-5">
        <!--      Right Card-->
        <img src="assets/home/home_img.png" class="img" height="520px" alt="">
      </div>
      </div>
    </div>
  </div>



<div class="card-container p-5">
  <div class="container p-4">

    <h5 class="text-center pb-4">TOP CATEGORY</h5>
    <div class="row">

      <div class="col-md-3">
        <div routerLink="/category-screen" class="card rounded-2 p-3 m-2 check" style="border: 0px; background-color: #e2e3e5; cursor: pointer">
          <div class="card-ig">
            <p class="text-center"><img src="assets/home/chair.png" height="60px" alt=""></p>
          </div>
        </div>
      </div>


<!--      SHop Product Card-->
      <div class="col-md-3">
        <div routerLink="/category-screen" class="card rounded-2 p-3 m-2 check" style="border: 0px; background-color: #e2e3e5; cursor: pointer">
          <div class="card-ig">
            <p class="text-center"><img src="assets/home/sofa.png" height="60px" alt=""></p>
          </div>
        </div>
      </div>

<!--      Browser Pro-->
      <div class="col-md-3">
        <div routerLink="/category-screen" class="card rounded-2 p-3 m-2 check" style="border: 0px; background-color: #e2e3e5; cursor: pointer">
          <div class="card-ig">
            <p style="text-align: center"><img src="assets/home/table.png" height="60px" alt=""></p>
          </div>
        </div>
      </div>

<!--      Suggest Pro-->
      <div class="col-md-3">
        <div routerLink="/category-screen" class="card rounded-2 p-3 m-2 check" style="border: 0px; background-color: #e2e3e5; cursor: pointer">
          <div class="card-ig">
           <p class="text-center"> <img src="assets/home/bed.png" height="60px" alt=""></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <hr>
  </div>

</div>



<!--Trend Products Category-->

<h5 class="text-center pb-4">Trendy Products</h5>


<!--New Section-->

<div class="us-container p-4">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
<!--          Products Cards Image-->
          <img src="assets/products/kabati.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Side Wooden Board</h5>

        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

<!--      Products Two-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/chair3.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Leather Wooden Chair</h5>

        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

<!--      Products Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Yellow Sofa</h5>

        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

<!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/table.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Cofee Table</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/wooden_bench.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Side Wooded cloth</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/woodend.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">TV Cabinet</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/plant.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">In House Plant</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa2.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">In House Plant</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>



      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/small_table.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Mini Cofee Table</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>


      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa4.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Leather Sofa</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/dinning2.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Dinning Table</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/board.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Cloth Board</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/bed.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Classic Bed</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/bench.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Wooden Bench</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>


      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/chair4.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Leather Classic Coach</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

      <!--      Product Card-->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: #e2e3e5">
          <!--          Products Cards Image-->
          <img src="assets/products/chair2.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 style="cursor: pointer" routerLink="/view-product" class="text-center p-1">Classic Sofa</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>

      </div>

    </div>

<!--   View page -->

    <div class="v-page">
      <ul class="social-icons">
        <li><a class="facebook" href="#">1<i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="#">2<i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="#">3<i class="fa fa-dribbble"></i></a></li>
        <li><a class="linkedin" href="#">4<i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>


<!--    Ads Placement-->
    <div class="container p-4" style="background-color: #F5F7F7">
      <div class=" d-flex justify-content-around align-items-center">

        <div class="">
            <h3>Trending in Sitting room</h3>
          <p>Dream in confort with there <br> stylish sittingroom pick</p>
          <button style="background-color: #98C663; color: white; padding-right: 20px; padding-left: 20px">Shop now</button>
        </div>

        <div class="">
          <img src="assets/products/ads.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>


  </div>
</div>


<!--Partnership Section-->


