//Home Imported Screen

@import url(https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Open+Sans:wght@300&family=Vollkorn&display=swap);



.home-container h1 {
  font-size: 40px;
  color: white;
  line-height: 53px;
}


.home-container {
  height: 48vh;
}

.home-container p {
  color: white;
  font-size: 20px;
}
//What we do Cntainer

.card-ig {
  align-items: center;
}

//Unique Section styling

.line {
  display: flex;
}

.line p {
  font-size: 17px;
  color: #2A2A2A;
  margin-left: 20px;
}


//Partnership Container

.list-img img {
  width: 6em;
  height: 4em;
  justify-content: center;
}

.list-img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}


//Navigation Buttons


.nav-links a {
  padding-top: 10px;
  margin: 15px;
  text-decoration: none;
  color: #00313C;
}


//Need Consultations Section Styling

.card > .lis {
  display: flex;
}

//Products List Styling

.pro {
  height: 260px;
  max-height: 270px;
  width: auto;
}

.img-fluid{
  max-height: 220px;
  height: 220px;
  image-resolution: normal;
}

//View Pager (Pagination)

.pagination {
  margin-top: 20px;

}

.pagination li {
  border: 1px solid #00313C;

}

.pagination li a {
  color: white;
  background-color: #98C663;
  border-radius: 0px;
}

.v-page {
  padding: 19px;
  margin-left: auto;
  margin-right: auto;
}
.social-icons {
  display: flex;
}

.social-icons li {
  margin: 15px;
}


//Filter Input

.filter-input select {
  margin: 5px;
  padding: 5px;
}


