<div class="home-container pt-5" style="background-color: #F0F0F0">

  <div class="container p-5 align-self-center">

    <div class="spacer mt-4"><label for=""></label></div>

    <div class="nav-links right-links mt-5" style="margin-left: auto; margin-right: auto">

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Furniture
      </a>

      <a class="n-link" routerLink="/professionals" href="#" data-toggle="dropdown">
        Bath
      </a>

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Lighting
      </a>

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Home Improvement
      </a>


      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Holiday
      </a>


    </div>

    <hr>

    <div class="row mt-4">

      <div class="col-md-7 mt-5">

        <div class="thumb-brad">
          <label for="">All products</label>
          <img src="assets/icons/morethan.png" class="p-1" height="25px" alt="">
          <label for="">Sofa</label>
        </div>
        <h2 class="pt-3" style="font-weight: bold">Sofa-Set</h2>
      </div>

    </div>
  </div>
</div>



<!--Trend Products Category-->

<!--Filter Products-->

<div class="container p-3">


  <div class="filter-input">
    <select name="" id="">
      <option>AllFilters</option>
      <option>AllFilters</option>
      <option>AllFilters</option>
    </select>

    <select name="" id="">
      <option>Style</option>
      <option>Style One</option>
      <option>Style Two</option>
    </select>

    <select name="" id="">
      <option>Price</option>
      <option>TZS 45,000 - TZS 69,000</option>
      <option>TZS 70,000 - TZS 99,000</option>
      <option>TZS 100,000 - TZS 150,000</option>
    </select>

    <select name="" id="">
      <option>Color</option>
      <option>Orange</option>
      <option>Yellow</option>
      <option>Black</option>
    </select>

    <select name="" id="">
      <option>Brand</option>
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </select>

  </div>

</div>

<!--New Section-->

<div class="us-container p-4">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa2.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Yellow Sofa-set</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center"><button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

<!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Double Sofa (Single)</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
          <p class="text-center"><button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
          </p>
      </div>


      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa4.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Single Sofa (One)</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/chair.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sofa Chair</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/ads.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sitting Room Items</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/chair3.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sitting Room Items</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

    </div>

    <!--   View page -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>


  </div>
</div>


<!--Partnership Section-->


