

<div class="nn" style="background-color: #fffdfc;">

  <p class="text-center p-2"><img src="assets/brand/new.png" height="70px" alt=""></p>

  <div class="nav" style="background-color: #00313C;">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">

<!--        <div class="nav-title">-->
<!--          <img src="assets/brand/duh.png" height="38px" alt="">-->
<!--        </div>-->

      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links right-links" style="margin-left: auto; margin-right: auto">

        <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
          Home
        </a>

        <a class="n-link" routerLink="/professionals" href="#" data-toggle="dropdown">
          Find Professionals
        </a>

        <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
          Shop Products
        </a>

        <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
          For Pros
        </a>


        <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
          Sign In
      </a>


      </div>
    </div>
</div>
<router-outlet></router-outlet>

<!--Footer here-->

<!-- Site footer -->
<footer class="site-footer">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-3">

        <img src="../assets/brand/duh.png" height="180px" alt=""> <br>

      </div>

      <div class="col-md-9">
<!--        Right LINks-->

        <div class="row">
          <div class="col-xs-6 col-md-3">
            <h6 class="fh">COMPANY</h6>
            <ul class="footer-links mt-4">
              <li class="mt-2"><a routerLink="/service" href="#">About Duhkani</a></li>
              <li class="mt-2"><a routerLink="/service" href="#" class="mt-2">Privacy & Notice</a></li>
              <li class="mt-2"><a routerLink="/service" href="#">Terms</a></li>
              <li class="mt-2"><a routerLink="/service" href="#">Careers</a></li>
              <li class="mt-2"><a routerLink="/service" href="#">Do not sell my info</a></li>
              <li class="mt-2"><a routerLink="/service" href="#">Mobile Apps</a></li>
              <li class="mt-2"><a routerLink="/service" href="#">Copyright & Trademark</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h6>BUSINESS SERVICES</h6>
            <ul class="footer-links mt-4">
              <li class="mt-2"><a routerLink="/about" href="#">For Professionals</a></li>
              <li class="mt-2"><a routerLink="/about" href="#">For Brands</a></li>
              <li class="mt-2"><a routerLink="/about" href="#">Trade Program</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h6>GET HELP</h6>
            <ul class="footer-links mt-4">
              <li class="mt-2"><a routerLink="/contact" href="#">Your Orders</a></li>
              <li class="mt-2"><a routerLink="/contact" href="#">Shipping & Delivery</a></li>
              <li class="mt-2"><a routerLink="/contact" href="#">Return Policy</a></li>
              <li class="mt-2"><a routerLink="/contact" href="#">Contact</a></li>
              <li class="mt-2"><a routerLink="/contact" href="#">Sign In</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h6>CONNECT WITH US</h6>
            <ul class="footer-links mt-4">
              <li class="mt-2"><a routerLink="/about" href="#">Brand Blog</a></li>
              <li class="mt-2"><a routerLink="/about" href="#">Twitter</a></li>
              <li class="mt-2"><a routerLink="/about" href="#">Facebook</a></li>
              <li class="mt-2"><a routerLink="/about" href="#">YouTube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Duhkani</a>
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
