<div class="home-container pt-5" style="background-color: #F0F0F0">

  <div class="container p-5 align-self-center">

    <div class="spacer mt-4"><label for=""></label></div>

    <div class="nav-links right-links mt-5" style="margin-left: auto; margin-right: auto">

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Furniture
      </a>

      <a class="n-link" routerLink="/professionals" href="#" data-toggle="dropdown">
        Bath
      </a>

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Lighting
      </a>

      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Home Improvement
      </a>


      <a class="n-link" routerLink="/" href="#" data-toggle="dropdown">
        Holiday
      </a>


    </div>

    <hr>

    <div class="row mt-4">

      <div class="col-md-7 mt-4">

        <div class="thumb-brad">
          <label for="">All products</label>
          <img src="assets/icons/morethan.png" class="p-1" height="25px" alt="">
          <label for="">Sofa</label>
          <img src="assets/icons/morethan.png" class="p-1" height="25px" alt="">
          <label for="">Classi Leather Chair</label>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Trend Products Category-->

<!--View Product -->

<div class="container p-3">
<div class="row">
  <div class="col-md-2">
<!--    List of Vertical Product Picture-->
    <div class="card m-1 rounded-0" style="height: 100px; width: 100px">
      <img src="assets/products/chair3.png" alt="">
    </div>
    <div class="card m-1 rounded-0" style="height: 100px; width: 100px">
      <img src="assets/products/chair3.png" alt="">
    </div>
    <div class="card m-1 rounded-0" style="height: 100px; width: 100px">
      <img src="assets/products/chair3.png" alt="">
    </div>

  </div>

  <div class="col-md-5">
    <img src="assets/products/chair3.png" height="320px" alt="">
  </div>

  <div class="col-md-5">
    <h2>Classic Leather Chair</h2>
    <h6>Leather Wooden Chair</h6>
    <h6 style="color: #98C663">TZS 45,000</h6>

<!--    Quantity Input Screen-->
    <select style="padding: 3px; margin: 10px" name="" id="">
      <option>Qty: 1</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
    </select>

    <button style="padding-left: 23px; padding-right: 23px; background-color: #00313C; color: white; margin: 10px">Add to Cart</button>
  </div>

</div>

  <hr>

</div>

<!--New Section-->

<!--    Tabs to View the Products in Detailed Manner-->
    <div class="container">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Products Description">

          <p class="p-3 mt-3">The Charla Bench offers you a place to rest, while a bottom  rack lets you stay organized. With a plush
            <br> button-
            tufted top, you won't mind spending extra time on the bench.</p>

          <ul>
            <li><p>Craftsman-style base</p></li>
            <li><p>Craftsman-style base</p></li>
          </ul>

        </mat-tab>
        <mat-tab label="Product Specification">

          <table class="table table-bordered mt-4 table-striped">
            <tbody>
            <tr>
              <td style="font-weight: bold">Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>

            </tbody>
          </table>

        </mat-tab>
        <mat-tab label="Shipping and Return">Content 3</mat-tab>
      </mat-tab-group>

    </div>
<!--    Tabs-->

<div class="us-container p-4">

  <div class="container">

    <hr>

    <h4 style="margin-left: 30px">Visually Similar Products</h4>

    <div class="row">

      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa2.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Yellow Sofa-set</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center"><button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Double Sofa (Single)</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center"><button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>


      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/sofa4.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Single Sofa (One)</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/chair.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sofa Chair</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/ads.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sitting Room Items</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

      <!--      Products -->
      <div class="col-md-3">
        <div class="card rounded-2 p-3 m-2 border-0" style="background-color: transparent">
          <!--          Products Cards Image-->
          <img src="assets/products/chair3.png"  class="img-fluid p-4" alt="">
        </div>

        <h5 class="text-center p-1">Sitting Room Items</h5>
        <h6 class="text-center" style="color: #98C663">TZS. 455,000</h6>
        <p class="text-center">        <button style="background-color: #00313C; color: white; padding-right: 16px; padding-left: 16px">Sale</button>
        </p>
      </div>

    </div>

    <!--   View page -->

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

    <!--    Ads Placement-->
    <div class="container p-4" style="background-color: #F5F7F7">
      <div class=" d-flex justify-content-around align-items-center">

        <div class="">
          <h3>Trending in Sitting room</h3>
          <p>Dream in confort with there <br> stylish sittingroom pick</p>
          <button style="background-color: #98C663; color: white; padding-right: 20px; padding-left: 20px">Shop now</button>
        </div>

        <div class="">
          <img src="assets/products/ads.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>


  </div>
</div>


<!--Partnership Section-->


